{% extends 'base.html' %} {% block title %}About Me - My Flask Site{% endblock
%} {% block content %}

<div class="container py-5">
  <h1 class="text-center mb-5">About Me</h1>

  <!-- Narrow overall content width -->
  <div class="mx-auto" style="max-width: 1100px">
    <div class="row g-4 align-items-center">
      <!-- Text Box (still left, but larger text) -->
      <div class="col-12 col-lg-7">
        <div class="card h-100 shadow-sm">
          <div class="card-body p-4">
            <h4 class="card-title fs-2">About Myself</h4>
            <p class="card-text fs-5 mb-0">
              Hello there! My name is Anderson Kho and I am currently a year 9
              student at Tempe High School. I am currently studying Accelerated
              Mathematics, Computer Technology and ISTEM (Engineering).
            </p>
          </div>
        </div>
      </div>

      <!-- Image (larger on the right) -->
      <div class="col-12 col-lg-5 d-flex align-items-center">
        <img
          src="{{ url_for('static', filename='images/hero1.jpg') }}"
          class="img-fluid rounded shadow-sm w-100"
          alt="Welcome"
        />
      </div>
    </div>
  </div>

    <!-- Centered support card -->
    <div class="row mt-4">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="card h-100 text-center">
          <img
            src="{{ url_for('static', filename='images/feature3.jpg') }}"
            class="card-img-top"
            alt="Feature 3"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">24/7 Support</h5>
            <p class="card-text">
              Our dedicated team is here to help you anytime you need
              assistance.
            </p>
            <a
              href="{{ url_for('contact') }}"
              class="btn btn-primary mx-auto mt-auto"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


*Add this next lesson:
<!-- Support + Easy to Use cards -->
<div class="row mt-4 g-4">
  <!-- Card 3 -->
  <div class="col-12 col-md-6">
    <div class="card h-100 text-center">
      <img
        src="{{ url_for('static', filename='images/feature3.jpg') }}"
        class="card-img-top"
        alt="Feature 3"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">24/7 Support</h5>
        <p class="card-text">
          Our dedicated team is here to help you anytime you need assistance.
        </p>
        <a href="{{ url_for('contact') }}" class="btn btn-primary mx-auto mt-auto">
          Contact Us
        </a>
      </div>
    </div>
  </div>

  <!-- Card 2 (right of 24/7 Support) -->
  <div class="col-12 col-md-6">
    <div class="card h-100 text-center">
      <img
        src="{{ url_for('static', filename='images/feature2.jpg') }}"
        class="card-img-top"
        alt="Feature 2"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Easy to Use</h5>
        <p class="card-text">
          Simple and intuitive interface designed with users in mind.
        </p>
        <a href="{{ url_for('aboutme') }}" class="btn btn-primary mx-auto mt-auto">
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>